.menu {
  width: auto;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid coral;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.item-1 {
  margin-left: 20px;
}

.item-5 {
  margin-right: 20px;
}
