.body {
  margin: 30px 30px 30px 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crossed {
  text-decoration: line-through;
}

.item {
  display: flex;
  flex-direction: row;
}

.check {
  margin-left: 10px;
}
