:root {
  --main-color: white;
  --main-font: Arial, Helvetica, sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 20vh 60vh 20vh;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: pink;
  color: var(--main-color);
  font-family: var(--main-font);
  grid-column: span 12;
  grid-row: span 1;
  text-transform: uppercase;
}
.menu {
  background-color: rebeccapurple;
  color: var(--main-color);
  font-family: var(--main-font);
  grid-column: span 4;
  grid-row: span 1;
  text-transform: uppercase;
}
.content {
  background-color: indianred;
  color: var(--main-color);
  font-family: var(--main-font);
  grid-column: span 8;
  grid-row: span 1;
  text-transform: uppercase;
}
.footer {
  background-color: skyblue;
  color: var(--main-color);
  font-family: var(--main-font);
  grid-column: span 12;
  grid-row: span 1;
  text-transform: uppercase;
}
