.body {
  padding: 30px 30px 30px 30px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button {
  width: 150px;
  height: 55px;
  border-radius: 6px;
  border: none;
  background-color: crimson;
  color: antiquewhite;
  font-weight: bold;
  font-size: 18px;
  margin: 30px 10px 30px 10px;
}
