.body {
  background-color: #ffcc00;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smiley {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
}
.odd {
  background-color: #ff9900;
}
