.body {
  height: 100vh;
  background-color: paleturquoise;
  font-family: monospace;
}

.img {
  height: 75%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.title {
  font-size: 35px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  background-color: mediumvioletred;
}

.main__title {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.button {
  font-size: 20px;
  font-family: monospace;
  background-color: palevioletred;
  height: 40px;
  border: mediumvioletred solid 3px;
  border-radius: 6px;
  margin-top: 20px;
}
