.body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  height: 15%;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  font-size: 40px;
}
.main {
  padding: 30px 30px 30px 30px;
}
.radio {
  margin-bottom: 5px;
}
.text {
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 10px 0;
}
.theme1 {
  background-color: aquamarine;
  color: blue;
}
.theme2 {
  background-color: darkslateblue;
  color: floralwhite;
}
