body {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  margin: 30px;
  width: 300px;
  height: 30px;
  border: hotpink 2px solid;
}
