.body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 30px 20px 20px 20px;
  text-align: justify;
}
.dayMode {
  background-color: lightblue;
  color: indigo;
}
.nightMode {
  background-color: indigo;
  color: lightblue;
}
.message {
  color: red;
}
