.body {
  height: 100vh;
  background-color: lightblue;
}
.header {
  height: 15%;
  border-bottom: solid 2px cornflowerblue;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
}
.form {
  background-color: darkturquoise;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.list {
  padding: 20px 0 20px 0;
}
.list-item {
  padding: 5px 0 5px 0;
}
.footer {
  height: 15%;
  border-top: solid 2px cornflowerblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
